.region-title {
    // border-bottom: 1px solid #dee2e6;
    padding: 15px 0;
    width: 100%;
    text-align: center;
}
.table-responsive {
    height: 150px;
    tr {
        th {
            text-align: center;
        }
        td {
            text-align: center;
            &:hover {
                cursor: pointer;
            }
        }
    }
}